<% include ../partials/header.ejs %>
    <!-- MAIN CONTENT -->
     <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <button id="printBtn" onclick="window.print()"><i class="fa fa-print"><span> Print page</span></i></button>
          <h1><%= title %></h1>          

            <form class="form" method="post" id="surveyForm">
              <div style="padding: 30px;" >
              <div class="form-group">
                <label for="NameTextField">Survey Title</label>
                <input type="text" class="form-control1" id="titleField"
                placeholder="" name="Title" value="<%= item.Title %>" required>
              </div>
              <div class="form-group">
                <label for="AuthorTextField">Author</label>
                <input type="text" class="form-control1" id="AuthorTextField"
                placeholder="" name="Author" value="<%= item.Author %>"  required>
              </div>
              <div class="form-group">
                <label for="StartDateTextField">Start Date</label>
                <input type="text" class="form-control1" id="StartDateTextField"
                placeholder="" name="StartDate" value="<%= item.StartDate %>"  required>
              </div>
              <div class="form-group" >
                <label for="EndDateTextField">End Date</label>
                <input type="text" class="form-control1"  id="EndDateTextField"
                placeholder="" name="EndDate" value="<%= item.EndDate %>"  required>
              </div>
             </div>
              <br>

              <% include ../surveys/form.ejs %>

              <div></div>
              <a href="" id="addQustionBtn"><i class="fa fa-plus"></i>&nbsp;Add questions</a>
              <a href="/surveys" id="btns3"><i class="fa fa-undo"></i>&nbsp;Cancel</a>
              <br>
              <button type="submit" class="btn btn-primary" id="detailPageSubmitBtn"><i class="fa fa-check-square-o"></i> Submit</button>
              

              <br>
              <br><br><br><br><br><br><br><br>
            </form>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/Scripts/createsurvey.js"></script>


    <% include ../partials/footer.ejs %>
